.sidebar {
    width: 250px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #252525;
}

.ul-style {
    list-style: none;
}

.list-style {
    list-style: none;
    color: white;
    font-size: 50px;
}